@import '~bootstrap/scss/bootstrap';

.success {
  color: white;
}

.failure {
  color: red;
}

// .cards {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-gap: 20px;
//   padding: 20px;
// }
//
// .playerCard {
//   background: white;
//   padding: 20px;
// }

.card-date {
  font-family: 'Monoton', serif;
}

.card-group {
  // display: inline-grid;
  // grid-template-columns: 200px 200px 200px 200px 200px;
  // grid-template-rows: 60px 60px;
  justify-content: center;



  // grid-template-columns: repeat(4, 1fr);
  margin-left: 4%;
  // display: inline-block;
  padding: 5px;
  // align-content: center;
  // margin-bottom: 5px;

  display: inline-flex;
  // align-content: center;
  // flex-direction: row;
  // flex-wrap: wrap;
  //
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  // justify-content: space-between;
}

.message {
  text-align: center;
  font-family: 'Prata', serif;
  font-weight: bold;

  // font-family:'Playfair', serif;
  // font-size: 150%;
}

ul {
  list-style-type: none;
}

body {
  background: url("./public/winter-background-4.jpg") no-repeat center center fixed;
  background-color: white;
  background-size: 100% 100%;
  font-family: Verdana, sans-serif;

}

.navbar {
  background-color: #89cff0;
  // font-family: 'Playfair Display', serif;
  // font-family: 'Berkshire Swash', cursive;
  // font-family: 'Lalezar', cursive;
  // font-weight: bold;
  font-family: 'Nobile', serif;
}

.update-card,
.delete-card {
  font-family: 'Nobile', serif;
}

.alert-success {
//   bottom: 10rem;
// left: 0;
margin: auto;
max-width: 30rem;
// position: fixed;
// right: 0;
// z-index: 10000;
}

.month {
  color: white;
  // display: flex;
  // justify-content: flex-end;
  text-align: right;
  margin-right: 5%;
  font-family: 'Berkshire Swash', cursive;

  font-size: 450%;
  // font-weight: bold;
}

.hours-coding {
  font-size: 400%;
  color: red;
  font-family: 'Permanent Marker', serif;
}

.feb {
  font-family: 'Playfair Display', serif;
  color: #89cff0;
  font-weight: bold;
  // text-shadow: 2px 2px white;
}

.quote{
  color: white;
  // font-family: 'Berkshire Swash', cursive;
  font-family: 'Playfair Display', serif;
}

// SIGN IN / SIGN UP MODAL
.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login {
  font-family: 'Prata', serif;
  font-weight: bold;
}

.login-form-1 {
  background: white;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
  text-align: center;
  color: #333;
}

.login-form-2 {
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
  text-align: center;
  color: #fff;
}

.login-container form {
  padding: 10%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}

.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}

.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
